<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite">

<listeners>
<listener class-name="one.globalenglish.utilities.Reporting"/>
</listeners> 
  <test name="Test">
  <parameter name="browser" value="chrome" />
    <classes>
  
      <class name="one.globalenglish.testCases.TC_Accent_003"/>
    <class name="one.globalenglish.testCases.TC_Culture_004"/>
    <class name="one.globalenglish.testCases.TC_EmailTemplate_005"/>
      <class name="one.globalenglish.testCases.TC_NewsFeed_006"/>
      <class name="one.globalenglish.testCases.TC_SystemCheck_010"/>
    <class name="one.globalenglish.testCases.TC_GCTutorial_012"/>
    
    
    
     
  
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



